<div class="article">
  <p class="article-text" id="first">
    Travel smart! BusTickets.com is the most widely used bus ticket reseller in the country.
    With hundreds of available routes and diverse travelling hours, BusTickets.com is the main portal to
    fulfill your needs. Need to commute to work? Or are you just travelling for tourism? Either way, you'll probably
    find the best deal here!
  </p>
  <img class="image" src="../../assets/kisspng-journey-computer-icons-symbol-application-programm-route-5ac2f941a67e56.969870431522727233682.png">
</div>
<div class="article">
  <img class="image" src="../../assets/centre-stage-ticket-box-office-cinema-bar-png-favpng-8bDih90TXq8tc2ZvZ4nQua4b9.png">
  <p class="article-text" id="second">
    Discounts on the double! Are you a student? Are you over 60 years old? You might qualify for our special ticket
    discounts! Just think about it. All your travel needs at an all time best price. We honor our clients and
    we think you deserve to have the best deal. Just try our route configurator and see for yourself!
  </p>
</div>
